@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 16% 93%; /* #ecf0f1 */
    --foreground: 210 9% 31%; /* A darker grey for text */
    --card: 0 0% 100%;
    --card-foreground: 210 9% 31%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 9% 31%;
    --primary: 207 70% 53%; /* #3498db */
    --primary-foreground: 0 0% 100%;
    --secondary: 210 16% 85%;
    --secondary-foreground: 210 9% 25%;
    --muted: 210 16% 85%;
    --muted-foreground: 210 5% 45%;
    --accent: 145 63% 49%; /* #2ecc71 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 100%;
    --ring: 207 70% 53%;
    --chart-1: 207 70% 53%;
    --chart-2: 145 63% 49%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 0 84.2% 60.2%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 10% 15%;
    --foreground: 0 0% 98%;
    --card: 210 10% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 210 10% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 207 70% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 10% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 10% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 145 63% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 30%;
    --input: 210 10% 25%;
    --ring: 207 70% 53%;
    --chart-1: 207 70% 53%;
    --chart-2: 145 63% 49%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 0 84.2% 60.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
